In [1]:
import pandas as pd
data = pd.read_csv("Holiday_Destination_data.csv")

In [2]:
data

,Unnamed: 0,Destination,Feedback_Score,Hotel_Star,All_Iinclusive_Hotel,Most_Visted_City,Unnamed: 6
0,0,Nigeria,10,5,2,NaN,Lagos
1,1,Nigeria,8,5,4,NaN,Abuja
2,2,United Kingdom,5,4,40,NaN,London
3,3,United Kingdom,6,5,5,NaN,Manchester
4,4,United State,5,3,11,NaN,NewYork
5,5,Kenya,6,5,32,NaN,Nairobi
6,6,France,9,1,23,NaN,Paris
7,7,Jamaica,2,4,4,NaN,Kingston
8,8,Turkey,8,2,12,NaN,Istanbul
9,9,Italy,8,5,30,NaN,Rome
10,10,China,6,4,10,NaN,Shanghai

In [3]:
# TASK1
# Add in a column
# shape will show all the number of rows and columns within the data set

data.shape

(11, 7)

In [5]:
# TASK2
# Print row 3-8(using iloc/loc)

data.iloc[3-8]

Unnamed: 0                   6
Destination             France
Feedback_Score               9
Hotel_Star                   1
All_Iinclusive_Hotel        23
Most_Visted_City           NaN
Unnamed: 6               Paris
Name: 6, dtype: object

In [6]:
# TASK3
# Find the mean number of all-inclusive hotels across all destination

data["All_Iinclusive_Hotel"].mean()

15.727272727272727

In [8]:
# TASK4
# Find the lowest scoring destination

data =pd.DataFrame(data)
data["Feedback_Score"].min()

2

In [9]:
# TASK5
# Find the highest scoring destination 

data["Feedback_Score"].max()

10

In [10]:
# TASK6
# Find the destinations where there are more tham 9  all-inclusive hotels

data["All_Iinclusive_Hotel"] > 9

0     False
1     False
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
Name: All_Iinclusive_Hotel, dtype: bool

In [11]:
# TASK7
# Filter the data by score above 8

data["Feedback_Score"] > 8

0      True
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
Name: Feedback_Score, dtype: bool

In [12]:
# TASK8
# Filter the data score below 2

data["Feedback_Score"] < 2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: Feedback_Score, dtype: bool